/*Styling for the contact info page*/
/*Style the navigation section*/
nav{/*Style the nav section for the page*/
margin-bottom: 20px; /*Put space after the element on the page*/
margin-top: 10px;
font-size: 8pt;
}